.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.cell-header-top {
    text-align: center;
    vertical-align: bottom;
    height: 2ch;
}

.cell-header-corner {
    text-align: right;
    vertical-align: bottom;
}

.cell-header-side {
    text-align: right;
    width: 5ch;
}

.rotate-header {
    display: inline;
    position: absolute;
    transform-origin: 100% 50%;
}

.rotate-header-90 {
    transform: translateX(-100%) translateY(-50%) rotate(90deg);
}

.rotate-header-45 {
    transform: translateX(-100%) translateY(-50%) rotate(45deg);
}

.rotate-header--45 {
    transform: translateX(-100%) translateY(-50%) rotate(-45deg);
}

.rotate-header-0 {
    transform: translateX(-100%) translateY(-50%) rotate(0deg);
}


.board-table {
    /* Negate the width of .cell-header-side so the board is centered while ignoring label text. */
    margin-left: -5ch;
}

hr {
    margin-top: 8ch;
    width: 20ch;
}
