.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.board-header {
    height: 2ch;
}

.number-vertical {
    position: absolute;
    transform: translateX(-100%) rotate(90deg);
    transform-origin: 100% 100%;
}

.number-diagonal {
    position: absolute;
    transform: translateX(-100%) translateX(2ch) rotate(45deg);
    transform-origin: 100% 100%;
}

.number-other-diagonal {
    position: absolute;
    transform: translateX(-100%) rotate(-45deg);
    transform-origin: 100% 0%;
}

.number-horizontal {
    text-align: right;
}

.cell-vertical {
    vertical-align: top;
    width: 2ch;
}
